.header {
    background-color: rgba(255, 255, 255, 0.85); /* Couleur de fond avec transparence */
    backdrop-filter: blur(10px); /* Effet de flou pour le verre */
    -webkit-backdrop-filter: blur(10px); /* Pour une compatibilité avec certains navigateurs */
  }
  
  .header nav ul li a {
    color: rgba(0, 0, 0, 0.8); /* Couleur du texte */
  }
  
  .header nav ul li a:hover {
    color: rgba(0, 0, 0, 1); /* Couleur du texte au survol */
  }
/*   
  #ancre {
  
  background-color:#d7d3db ;
  } */